.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}
.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 100px;
  height: 100px;
}
.main > div h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.main b {
  color: #16abff;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50vw;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 1%;
  text-align: left;
}
.description {
  text-align: center;
  text-decoration: solid underline #16abff;
  margin: 0;
}
.what p {
  width: 100%;
  text-align: center;
}
.why ul {
  margin: 2% 0;
  position: relative;
  left: 2%;
}
.how ol {
  margin: 2% 0;
  position: relative;
  left: 2%;
}
.main::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.main::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.main::before,
.main::after {
  content: "";
  left: 30%;
  top: 40%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.footer {
  color: #009900;
  padding: 0.5% 0.2%;
  border: 1px solid #009900;
}

/* Mobile */
@media (max-width: 700px) {
  .logo {
    width: 35px;
    height: 35px;
  }
  .main::before {
    transform: none;
    height: 300px;
  }
  .info {
    width: 95vw;
    margin: 1vh 0;
  }
  .why ul {
    left: 4%;
  }
  .how ol {
    max-width: 90%;
    left: 5%;
  }
  .more {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
